# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Data
data/raw/
data/processed/

# Models / Checkpoints
runs/
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db