# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Data
data/raw/
data/processed/
data/classification_dataset/

# runs / Checkpoints
runs/
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db